body {
    font-family: "Open Sans", sans-serif;
    background-color: #F7F8FC;
    color: #444444;
  }
  
  a {
    color: #F197C0;
    text-decoration: none;
  }
  
  a:hover {
    color: #B49EDC;
    text-decoration: none;
  }
  .btn{
    // background-color: #FAD99A;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  #header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
  }
  #header.header-scrolled {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
  }
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  #header .logo a {
    color: #5f687b;
  }
  #header .logo img {
    max-height: 40px;
  }
  @media (max-width: 991px) {
    #header {
      padding: 12px 0;
    }
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #6a7489;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #E4BCD4;
  }
  .navbar .getstarted, .navbar .getstarted:focus {
    padding: 10px 25px;
    margin-left: 30px;
    border-radius: 4px;
    line-height: 1;
    color: #5f687b;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #cdd1d9;
  }
  .navbar .getstarted:hover, .navbar .getstarted:focus:hover {
    background: #206bfb;
    color: #fff;
    border-color: #206bfb;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #16df7e;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  #hero {
    width: 100%;
    height: 60vh;
    background: url("./../img/hero.jpg") center center;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    padding: 0;
  }

  #hero .container {
    z-index: 2;
  }
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #hero h1 span {
    border-bottom: 4px solid #3498db;
  }
  #hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    font-size: 24px;
  }
  #hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 2px;
    display: inline-block;
    padding: 12px 28px;
    border-radius: 4px;
    transition: ease-in-out 0.3s;
    color: #fff;
    background: #3498db;
    text-transform: uppercase;
  }
  #hero .btn-get-started:hover {
    background: #4ea5e0;
  }
  @media (max-width: 992px) {
    #hero {
      height: calc(100vh - 70px);
    }
  }
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 30px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

  #links {
    margin-top: 80px;
    
    .link{
      border-radius: 16px;
      background-color: #fff;
      border: #E3E3E3 solid 1px;
      padding: 64px;
      text-align: center;
      img{
        padding: 16px;
      }
      h4{
        margin-top: 32px;
      }
    }
  }
  
  
  #productos #contenedor .card{

    border-radius: 8px;

    .card-img-top{
      padding: 32px;
    }
    .card-body {
      .card-title {
        font-size: 16px;
        font-weight: 600;
      }
      .btn{
        background-color: #FAD99A;
        margin-left: 50%;
        border-radius: 25px;
        padding: 8px 16px;
      }
    }

  }
  section {
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f6f7f6;
  }
  
  .section-title {
    padding-bottom: 40px;
  }
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #9ae1af;
    margin: 4px 10px;
  }
  .section-title p {
    margin: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #37423b;
  }
  
  #breadcrumb {
  
    margin-top: 79px;
    text-align: center;
    padding: 30px 0;

  }
  @media (max-width: 992px) {
    .breadcrumb {
      margin-top: 63px;
    }
  }
  .breadcrumb h2 {
    font-size: 32px;
    font-weight: 500;
  }
  .breadcrumb p {
    font-size: 24px;
    margin-bottom: 0;
  }
  .breadcrumb li {
    font-size: 18px;
    
  }

  .products .list-products .row{
    margin-bottom: 32px;
    background-color: #fff;
    border-radius: 16px ;
    border: #E3E3E3 solid 1px;
    img{
      margin: 8px 16px;
      padding: 8px;
    }
    .details{
      padding: 32px;
      h3 {
        font-size: 36px;
        // margin: 30px 0 15px 0;
        font-weight: 700;
        position: relative;
        padding-bottom: 10px;
      }
      h3:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background: #eef0ef;
        bottom: 0;
        left: 0;
      }
      h3:after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 1px;
        background: #F197C0;
        bottom: 0;
        left: 0;
      }
    }
  }
  


  .course-details {
    .btn{
      background-color: #FAD99A;
      color: #212121;
      border: none;
    }
    .contenedor-image{
      text-align: center;
      background-color: #fff;
      border-radius: 16px ;
      border: #E3E3E3 solid 1px;
      img{
        width: 84%;
      }
    }
    .contenedor-info{
      background-color: #fff;
      border-radius: 16px;
      border: #E3E3E3 solid 1px;
      padding: 16px 8px;
      h1 {
        font-size: 36px;
        // margin: 30px 0 15px 0;
        font-weight: 700;
        position: relative;
        padding-bottom: 10px;
      }
      h1:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background: #eef0ef;
        bottom: 0;
        left: 0;
      }
      h1:after {
        content: "";
        position: absolute;
        display: block;
        width: 60px;
        height: 1px;
        background: #5fcf80;
        bottom: 0;
        left: 0;
      }
      .course-info {
        background: #f6f7f6;
        padding: 10px 15px;
        margin-bottom: 15px;
        p {
          font-size: 24px;
          margin: 0;
          font-weight: 600;
        }
        a {
          color: #657a6d;
        }  
      }
      
    }
    .selects{
      margin-top: 16px;
      margin-right: 16px;
      .btn{
        background-color: #FFF;
        border-color: #444444;
        color: #444444;
      }
      a{
        color: #212121;
      }
    }   

    .carrito{
      margin-top: 32px;
      .btn-buy{
        // background-color: #FAD99A;
      }
    }
    .recomendados{
      margin-top: 16px;
      background-color: #fff;
      padding: 16px 8px;
      border-radius: 16px ;
      border: #E3E3E3 solid 1px;
      color: #212121;
    }
    
    
  }

  .modal-footer{
    .btn{
      background-color: #FAD99A;
      color: #212121;
      border: none;
    }
  }

#footer {
  margin-top: 80px;
  color: #5f687b;
  font-size: 14px;
  background: #f7fbfe;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #5f687b;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #5f687b;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #F197C0;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #3498db;
}


#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #F197C0;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #B49EDC;
  color: #fff;
  text-decoration: none;
}